<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Pot App</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Wykres temperatury</h1>
    <canvas id="temperatureChart" width="200" height="100"></canvas>

    <h1>Wykres wilgotności</h1>
    <canvas id="humidityChart" width="400" height="200"></canvas>

    <h1>Wykres naświetlenia</h1>
    <canvas id="illuminanceChart" width="400" height="200"></canvas>

    <script>
        const ctx = document.getElementById('temperatureChart').getContext('2d');
        const temperatureChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Temperature (°C)',
                    data: [],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const illuminanceCtx = document.getElementById('illuminanceChart').getContext('2d');
        const illuminanceChart = new Chart(illuminanceCtx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Illuminance (lux)',
                    data: [],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });

        const humidityCtx = document.getElementById('humidityChart').getContext('2d');
        const humidityChart = new Chart(humidityCtx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Humidity (%)',
                    data: [],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });

        function resetChart(chart) {
            chart.data.labels = [];
            chart.data.datasets.forEach(dataset => dataset.data = []);
            chart.update();
        }

        const socket = io();
         // Listen for updates from the backend
        socket.on('update_data', (data) => {
            const time = new Date().toLocaleTimeString();
            console.log("Received data:", data);
            if (data.temperature !== undefined) {

                temperatureChart.data.labels.push(time);
                temperatureChart.data.datasets[0].data.push(data.temperature);

                if (temperatureChart.data.labels.length > 30) {
                    resetChart(temperatureChart);
                }
                temperatureChart.update();
            }

            if (data.humidity !== undefined) {
                humidityChart.data.labels.push(time);
                humidityChart.data.datasets[0].data.push(data.humidity);

                if (humidityChart.data.labels.length > 30) {
                    resetChart(humidityChart);
                }

                humidityChart.update();
            }
            console.log("Checking data for illuminance...");
            if (data.illuminance !== undefined) {
                console.log("Illuminance value: " + data.illuminance)
                illuminanceChart.data.labels.push(time);
                illuminanceChart.data.datasets[0].data.push(data.illuminance);

                if (illuminanceChart.data.labels.length > 30) {
                    resetChart(illuminanceChart);
                }

                illuminanceChart.update();
            }
        });
    </script>
</body>
</html>
